@{
    ViewBag.Title = "موسسه معلولین امام جواد با نظارت اداره بهزیستی خراسان رضوی ش ث 2331";
}
<h2>@ViewBag.Title.</h2>
<br>
<p>ضمن عرض خیر مقدم به استحضار می رساند که این آسایشگاه در حال حاضر نگهداری 250 نفر از اینام معلول ذهنی بی سرپرست و بدسرپرست و سالمندان را به صورت شبانه روزی را برعهده دارد</p>
<br />