@{
    ViewBag.Title = "تابلوهای تسلیت در موسسه امام جواد علیه السلام";
}

<h2>@ViewBag.Title</h2><br>
<p>
موسسه معلولین اما جواد علیه السلام، در اقدامی خیرخواهانه بنرهای تسلیت مخصوص مراسم سوگواری تهیه می کند و عواید آن تماماً صرف مخارج بچه های موسسه می گردد.شما می توانید تابلوهای تسلیت را در مراسم سوگواری برای تسلیت به دوستان و آشنایانتان ارسال نمایید. در این صورت هزینه سفارش تابلو تسلیت کمکی به مددجویان موسسه است و با مشارکت در این کار خیر، فرهنگ آن را نیز ترویج می دهید.</p>
<p>به منظور سفارش تابلو، می توانید فرم زیر را پر نموده و ضمن انتخاب طرح تابلو مورد نظر، وجه مربوطه را بصورت آنلاین پرداخت  نمایید و یا با همکاران ما در موسسه تماس حاصل فرمایید تا سفارش شما ثبت گردد.</p>
</p>
<br />

