@{
    ViewBag.Title = "همکاری در ساخت در موسسه امام جواد علیه السلام";
}

<h2>@ViewBag.Title</h2><br>
<p>
    .حامی گرامی از اینکه آسایشگاه خیریه معلولین و سالمندان امام جواد علیه السلام را انتخاب نموده اید سپاسگزاریم. به استحضار می رساند موسسه در حال ساخت مجموعه ساختمانی برای نگهداری بیماران سرطانی می باشد. لذا از همه افراد حقیقی و حقوقی به خصوص شرکتهای محترم ساختمانی تقاضا می شود ما را در این امر یاری رسانند. 
</p>
<P>
    خواهشمند است با موسسه تماس حاصل فرمایید تا ضمن صحبت با مدیریان موسسه، امکان استفاده از همکاری شما فراهم آید.
</p>
<br />