@{
    ViewBag.Title = "ارتباط با موسسه";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
مشهد مقدس، ابتدای جاده شاندیز- کیلومتر 5<br />
ابتدای جاده سوران، ویرانی 9، طبقه فوقانی نمازخانه<br />
شبانه روزی امام جواد علیه السلام، مرکز خیریه نورالرضا<br /><br />
<abbr title="Phone">تلفن:</abbr>
0098-513-5590040 دفتر مشارکتهای مردمی<br />
<abbr title="Mob">همراه:</abbr>
0098-915-1000091 
</address>

<address>
<strong>مدیریت</strong>   <a href="mailto:Management@imamjavad.com">Management@imamjavad.com</a><br />
<strong>موسسه</strong> <a href="mailto:Info@imamjavad.com">Info@imamjavad.com</a>
</address>
<br />
