@{
    ViewBag.Title = "اعلان همکاری با موسسه امام جواد علیه السلام";
}

<h2>@ViewBag.Title</h2><br>
<p>
   .حامی گرامی از اینکه آسایشگاه خیریه معلولین و سالمندان امام جواد علیه السلام را انتخاب نموده اید سپاسگزاریم. به استحضار می رساند با توجه به نیاز شبانه روزی معلولین عزیز به نگهداری پزشکی، پرستاری، خدماتی و روحی، چنانچه تمایل به همکاری با موسسه بصورت داوطلبانه را دارید خواهشمند است با موسسه تماس حاصل فرمایید تا ضمن صحبت با مدیریان موسسه، امکان استفاده از همکاری شما فراهم آید. این همکاری می توند کوتاه مدت باشد
</p>
<br />





