@{
    ViewBag.Title = "کمک دوره ای در موسسه امام جواد علیه السلام";
}
<h2>@ViewBag.Title</h2><br>
<p>
    .حامی گرامی از اینکه آسایشگاه خیریه معلولین و سالمندان امام جواد علیه السلام را انتخاب نموده اید سپاسگزاریم. به استحضار می رساند با توجه به وجود هزینه های نگهداری معلولین بصورت همیشگی نیاز به همراهی شما بزرگواران بصورت مداوم وجود دارد. از شما تقاضا داریم ضمن تکمیل فرم زیر و قبول پرداخت نقدی و غیر نقدی در ابتدای هر دوره ما را در کمک رسانی به معلولین عزیزمان یاری رسانید. خاطر نشان می دارد در هر دوره بصورت پیامک و یا از طریق ایمیل فرایند فوق را یاداوری خواهیم نمود.</p>
<br />

@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <p>
    حامی محترم شما در حال حاضر بصورت میهمان در حال مشاهده وب سایت موسسه می باشید. در صورتی که با دریافت کلمه عبور و رمز عبور وارد پرتال خود در وب سایت گردید در آینده قادر خواهید بود تا اطلاعات کاملی از جمله ریز پرداختیهای خود را مشاهده نمایید. این امر به موسسه هم در مدیریت بهتر امور کمک شایانی خواهد نمود. چنانچه تمایل به ورود به پرتال خود را دارید
        @Html.ActionLink("اینجا را کلیک نمایید.","Login","Account")
    </p>
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-12">
        <button class="btn btn-default" onclick="location.href='@Url.Action("PeriodicPayment2", "Home")';return false;">ادامه</button>
    </div>
</div>
<br />

