@{
    ViewBag.Title = "پیشگیری از معلولیتها";
}

<h2>@ViewBag.Title</h2>
<h3>مشاوره ژنتیک</h3>
<p>
    مشاوره ژنتيک را چنين تعريف مي کنند : يک فرايند آموزشي که به افراد مبتلا يا در معرض خطر کمک مي کند تا طبيعت اختلال ژنتيکي و نحوه انتقال آن را بشناسند و موضوعات مرتبط با درمان اين بيمار يها و تنظيم خانواده را بهتر درک کنند. 95 درصد از بيمار ي هاي ژنتيکي امروز قابل تشخيص و درمان اند، اما مسأله اين است که درمان اين واقعه بايد اندکي قبل از وقوع باشد. مشاور ه هاي ژنتيک قبل از ازدواج، قبل از بارداري و در زمان بارداري به ما کمک م يکند که از بيمار يهاي ژنتيکي کاملا در امان بمانيم، يا در صورت مشکوک بودن، درمان بيماري را شروع کنيم.
</p><br>
<ul>
    <li>مشاوره ژنتيک قبل ازازدواج
        <p>
            اين مشاوره که بيش تر در ايران رايج است به افرادي ارائه مي شود که قصد ازدواج دارند و در عين حال نگران ابتلاي فرزند آينده خود به بيماري ژنتيکي هستند، به علاوه اين مشاوره ها به افراد توصيه مي شود که در غربالگري قبل از ازدواج تالاسمي ناقل تشخيص داده مي شوند و يا به هر دليل از سوي مراکز بهداشتي درماني درخطر ابتلاي نسل بعد به بيماري هاي ژنتيکي هستند
        </p>
    </li>
    <li>مشاوره ژنتيک قبل از بارداري
        <p>
            به خانواده هايي ارائه مي شود که داراي فرزندي مبتلا به بيماري ژنتيکي هستند، نگران ابتلاي فرزند خود به بيماري ژنتيکي هستند و يا يکي از والدين به يک بيماري ژنتيک يا يک بيماري سيستميک مبتلاست.به علاوه زوجيني که مبتلا به سقط مکرر يا ناباروري هستند نيز توصيه مي شود قبل ازاقدام به بارداري بعدي به متخصص ژنتيک مراجعه کنند.
        </p>
    </li>
    <li>
        مشاوره ژنتيک حين بارداري
        <p>
            در هفته هاي مشخص بارداري مشاوره ها و در ادامه آزمايش هايي براي مادر و فرزند درنظر گرفته مي‏شود که با انجام آنها نقص هاي احتمالي در روند رشد نوزاد و حتي اختلالات ژنتيکي که پدر و مادر از آ نها بی‏اطلاع بوده اند مشخص مي شود .اگر اين آزمايش ها در زمان مناسب انجام شوند درصورت مشکل جنين مجوز سقط جنين صادر خواهد شد.
        </p>
    </li>
    <li>
        شمابه مشاوره ژنتيک احتياج داريداگر:
        <p>
            به هنگام زايمان حداقل 35 سال داشته باشيد. کودکي با يک نوع نقص مادرزادي داريد. شما يا  همسرتان از نوعي اختلال مادرزادي رنج مي بريد. شما يا همسرتان داراي سابقه خانوادگي سندرم داون، عقب ماندگي ذهني، سيستميک فايبروزيس، اسپينا بيفيدا، ضعف عضلاني دوشن، اختلالات خونريزي دهنده، مشکلات استخواني، کوتولگي، صرع، نقايص مادرزادي قلبي يا کوري هستيد. شما يا همسرتان داراي سابقه خانوادگي ناشنوايي ارثي هستيد ) آزمايش پيش از تولد به شناسايي ناشنوايي مادرزادي کمک مي کند و به والدين و کادر پزشکي اين فرصت را مي دهد که فورا اين مشکل را تشخيص دهند.( شما و همسرتان خويشاوند هستيد. سقط خود به خودي مکرر )سه مورد يا بيشتر( داشته ايد. درخانواده شما وهمسرتان سابقه نوعي کم خوني وجود دارد )کم خوني سلول داسي شکل و تالاسمي( همسرتان بيش از 40 سال دارد )
        </p>
    </li>
    <p>
        پزشکي نشان مي دهند که احتمال اينکه پدر 40 ساله يا مسنتر صاحب فرزندي با نوعي اختلال مادرزادي شود، زياد است (.امروزه در اکثر شهرهاي کشور مراکزي تحت عنوان مرکز مشاوره ژنتيکي تأسيس شده که در خصوص موارد فوق الذکر مي توانند به مراجعين خدمات مشاوره ارائه دهند.</section>
    </p>
</ul>
<p>منبع: وب سایت موسسه خیریه شهید فیاض بخش 
</p>
<br/>


