@{
        ViewBag.Title = "روان شناسی و آموزش";
}
<h2>@ViewBag.Title</h2><br>
<h3>کودکان دارای معلولیت سه تا چهار برابر کودکان غیرمعلول قربانی خشونت می‌شوند.</h3>
<p>در یک بررسی نظام‌مند و فراتحلیلی در سازمان جهانی بهداشت در حوزه خشونت علیه کودکان دارای معلولیت با تخمین خطرات موجود نشان داد این کودکان 3.7 برابر بیشتر در معرض ترکیبی از انواع خشونت، 3.6 برابر بیشتر در معرض خشونت فیزیکی و 2.9 برابر بیشتر در معرض خشونت جنسی هستند. کودکان دارای معلولیت ذهنی یا مغزی 4.6 برابر همسالان غیر معلول خود ممکن است قربانی خشونت جنسی شوند.</p>
<p>در مورد اینکه چرا کودکان دارای معلولیت بیشتر در معرض خشونت هست چندین توضیح مطرح شده است. مراقبت از کودک دارای معلولیت ممکن است فشار مضاعفی بر سرپرستان وارد کرده و خطر آزار را بالا ببرد. دوم اینکه، تعداد قابل ملاحظه‌ای از کودکان دارای معلولیت همچنان در موسسات نگهداری به سر می‌برند و این عامل خطر بزرگی برای آزار جسمی و جنسی آن‌ها است و بالاخره، اختلالات ارتباطی به طور خاص این کودکان را آسیب‌پذیر می‌کند چرا که ممکن است قادر به افشای تجربیات ناراحت کننده خود نباشند.</p>
<p>همه کودکان دارای معلولیت باید گروهی پرخطر محسوب شوند که در میان آن‌ها شناسایی خشونت اهمیت بسیار دارد. آن‌ها ممکن است از مداخلاتی همچون بازدید از منزل و آموزش مهارت‌های فرزندپروری به والدین سود ببرند. این مداخلات در پیشگیری از خشونت و کاهش عواقب آن در میان کودکان غیر معلول موثر واقع شده‌اند.</p>
<p>بحران‌های انسانی شامل جنگ و بلایای طبیعی، کودکان دارای معلولیت را به گونه‌ای ویژه در معرض خطر قرار می‌دهند. در این شرایط، برنامه‌های بشر دوستانه فراگیر به سرعت مورد نیاز بوده و اجرای آن‌ها نیز کاملا امکان‌پذیر است.</p>
<p>درگیری‌های مسلحانه علت عمده معلولیت در میان کودکانی است که به شکل مستقیم یا غیر مستقیم تحت تاثیر آن‌ها قرار می‌گیرند. کودکان در اثر حملات، آتش توپخانه و انفجار مین، دچار جراحات جسمی می‌شوند و این اتفاقات می‌تواند پس از پایان درگیری‌های هم رخ دهد. کودکان همچنین از اثرات روانی این جراحات و یا مشاهده حوادث رنج‌آور، متاثر می‌شوند، این شرایط اثراتی غیر مستقیم نیز بر کودکان به جای می‌گذارند، مانند بیماری‌های درمان نشده به علت توقف ارائه خدمات درمانی و سوء تغذیه که به دلیل کمبود غذا پیش می‌آید. همچنین گاهی کودکان سال‌ها از خانواده، خانه و مدرسه خود جدا می‌شوند.</p>
<p>محرومیت‌های مشابهی می‌توانند در نتیجه بلایای طبیعی ایجاد شوند، به ویژه اینکه محرومیت‌هایی که به تغییرات اقلیمی مربوط هستند بر شدت و تناوب‌شان افزوده می‌شود و انتظار می‌رود کودکان و بزرگسالان بیشتری را در سال‌های آتی تحت تاثیر قرار دهند.</p>
<p>در موقع بحران، کودکان دارای معلولیت با چالش‌های خاصی روبه‌رو می‌شوند. آن‌ها ممکن است از دسترسی به خدمات حمایتی و برنامه‌های امدادی مانند خدمات بهداشتی یا توزیع غذا به دلیل موانع فیزیکی حاصل از ساختمان‌های غیر قابل دسترسی یا نگرش‌های منفی، محروم شده یا ناتوان باشند. آن‌ها ممکن است در نظام خدمات هدفمند و در سیستم‌های هشدار زودهنگام که اغلب الزامات ارتباطی و حرکتی معلولین را در نظر نمی‌گیرند، مورد توجه قرار نگیرند. </p>
<p>
    منبع: وب سایت موسسه خیریه شهید فیاض بخش
</p>
<br />
