@{
    ViewBag.Title = "حامیان موسسه";
}

<style type="text/css">
    td   {border-style: ridge; border-color: lightgrey; border-width: thin; margin: 20px}
    table img {width : 180px; height: 80px;}
    table{text-align: center; margin: 20px}
</style>

<h2>@ViewBag.Title</h2><br>
<p>
در طی سالیان فعالیت موسسه و به مدد آقا امام جواد علیه السلام موسسه و معلولین تحت پوشش مورد عنایت افرد حقیقی و حقوقی بسیاری قرار گرفته اند. در ادامه لیست چند از ایشان ذکر می گردد.
</p>
<br>
<center>
    <table>
        <tr>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>        
        </tr>
        <tr>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
            <td>
                <img src="~/content/images/wkt.jpg"><br>
                <center>شرکت ابزار دانش غرب</center>
            </td>
        </tr>
    </table>
    <br />
</center>