@{
    ViewBag.Title = "مراقبت از معلول";
}
<h2>@ViewBag.Title</h2>
<h3>غذا دادن به معلول</h3>
<ul>
    <li>
        اهداف
        برقرار کردن وضعیت تغذیه ای معلول
        آموزش دادن مهارت های تغذیه ای به معلول
    </li>
    <li>
        نکات شایان بررسی
        توانایی های مراقبت از خود در معلول برای غذا خوردن و میزان کمک مورد نیاز، توجه به هماهنگی دست ها، سطح هوشیاری، دقت در بینایی، اشتها و سطح تحمل در خصوص غذا و مایعات، سختی در بلع، تناسب قد و وزن، نیاز معلول به رژیم غذایی خاص، هرگونه آلرژی غذایی یا علاقه و بی علاقگی به غذا
    </li>
    <li>
        وسایل لازم
        سینی حاوی غذا و مایعات دستور داده شده
        دستمال سفره
        لیوان مدرج
        نی آشامیدنی
    </li>
    <li>
        روش کار
        دستور پزشک را از نظر نوع رژیم غذایی، ممنوعیت دریافت مواد غذایی از راه دهان، ناشتا بودن برای انجام آزمایش ها یا عمل جراحی کنترل کنید.
        آماده کردن معلول و میزغذا
        <ol>
            <li>به وی کمک کنید تا به دستشویی برود یا به او، لگن و لوله ادرار بدهید</li>
            <li>به معلول در شستن دست ها، کمک کنید</li>
            <li>درصورت نیاز، برای بهبود اشتها کمک کنید تا معلول دندانهای خود را مسواک بزند یا از محلول دهان شویه استفاده کند.</li>
            <li>درصورت نیاز، نور داخل اتاق را تنظیم نموده، هوای داخل اتاق را تهویه کنید.</li>
            <li> معلول را در وضعیت راحتی قرار دهید، بیشتر بیماران، وضعیت نشسته را ترجیح می دهند، در صورتی که قادر به نشستن نیست، او را دروضعیت به پهلو خوابیده قرار دهید</li>
            <li>
                میز غذا را آماده کنید، بدین صورت که آن را از وسایل اضافی خالی کنید و ارتفاع آن را در حد مناسب قرار دهید، به طوری که  معلول بتواند محتوای  داخل سنی را ببیند.
                دست های خود را بشویید
                سینی غذا را بر روی میز قرار دهید و آن را ازنظر نام معلول، نوع رژیم غذایی و کامل بودن بررسی کنید. درصورتی که رژیم غذایی صحیح به نظر نمی رسد، مجدداً نوع رژیم را با پروندۀ معلول کنترل کنید.
                معلول را در غذا خوردن یاری نمایید.
                <ol>
                    <li>دقت کنید تمام وسایل لازم از جمله؛ دستمال سفره و یک لیوان آب موجود بوده و غذاهای گرم یا سرد، در درجه حرارت خود باقی مانده باشد.</li>
                    <li>او را تشویق کنید که به تنهایی غذای خود را میل کند.</li>
                    <li>
                        در صورتی که نیاز به کمک دارد او را یاری نمایید.
                        <ul>
                            <li>چنانچه معلول در وضعیتی است که نمی تواند محتوای داخل سینی را ببینید، نوع غذا و محتوای داخل سینی را برای او شرح دهید.</li>
                            <li>دستمال سفره را زیر چانۀ معلول قرار دهید.</li>
                            <li>در صورت لزوم در تکه کردن گوشت، نان یا پوست کندن میوه ها به معلول کمک کنید.</li>
                        </ul>
                    </li>
                    <li>
                        غذا را مطابق میل بخورانید :
                        <ul>
                            <li>اگر معلول می تواند از دست هایش استفاده کند ، بگذارید نان و غیره را خود به دست گرفته و دردهان بگذارد.</li>
                            <li>از قاشق و چنگال برای خورانیدن مواد غذایی و از نی برای نوشیدن مایعات استفاده کنید.</li>
                            <li>غذا را به صورت لقمه های کوچک در دهان معلول بگذارید.</li>
                            <li>هر سه یا چهار لقمه غذای جامد که می خورانید، چند جرعه مایعات به معلول بدهید.</li>
                            <li>چنانچه معلول غذا را نمی بیند، هر لقمه ای که در دهان او می گذارید، توضیح دهید که چیست و سرد است یا گرم.</li>
                            <li>به معلول فرصت دهید که غذا را کاملاً جویده و فرو دهد، در غذا دادن عجله نکنید .</li>
                            <li>در ضمن غذا دادن، دربارۀ مورد علاقۀ معلول صحبت کنید و او را مشغول نگه دارید.</li>
                            <li>غذا را در حجم کم و به دفعات زیاد به معلول بدهید.</li>
                            <li>چنانچه معلول از خوردن امتناع می کند، هر موقع که مایل است به او غذا بدهید.</li>
                            <li>غذا دادن را ادامه دهید تا معلول کاملاً سیر شود.</li>
                        </ul>
                    </li>
                </ol>
            </li>
      </ol>
    </li>
    <li>وقتی مطمئن شدید که معلول سیر شده است، سینی و دستمال سفره را بردارید.</li>
    <li>معلول را دروضع راحتی قرار دهید بدین ترتیب که :
        <ol>
            <li>او را در شستن دست ها کمک کنید.</li>
            <li>توجه لازم را از دهان و دندان وی به عمل آورید.</li>
            <li>معلول را در موقعیت راحتی قرار داده و زنگ اخبار را در دسترس او قرار دهید.</li>
        </ol>
    </li>
    <li>اطلاعات خود را در پرونده یادداشت کنید:
        <ol>
            <li>توجه کیند که معلول، چه مقدار از چه مواد خوراکی و چه مایعاتی مصرف کرده است.</li>
            <li>چنانچه معلول روی رژیم غذایی خاصی یا اینکه مشکلاتی در غذا خوردن دارد، مقدار غذای خورده شده و وجود هر گونه درد و خستگی یا تهوع را یادداشت کنید.</li>
            <li>اگر وی از غذا خوردن امتناع می کند، به پرستار مسئول گزارش کنید تا در صورت امکان، نوع غذا تغییر داده شود و یا سایر اقدامات لازم به عمل آید، مثل برنامه ریزی جدید برای غذا خوردن به مقدار کمتر و دفعات بیشتر یا اینکه وسایل کمکی خودیار در غذا خوردن را فراهم آورید.</li>
        </ol>
    </li>
</ul>
<p>منبع: روش های پرستاری بالینی</p>
<p>تألیف: ملیحه السادات موسوی و مریم عالیخانی</p>
<p>ماخذ: وب سایت موسسه خیریه شهید فیاض بخش</p>
<br />
