@{
    ViewBag.Title = "درخواست بازدید از معلولین موسسه امام جواد علیه السلام";
}
<h2>@ViewBag.Title</h2><br>
<p>
    .حامی گرامی از اینکه آسایشگاه خیریه معلولین و سالمندان امام جواد علیه السلام را انتخاب نموده اید سپاسگزاریم. یکی از عمده ترین نیازهای معلولین و سالمندان نیاز به داشتن شما عزیزان هر چند برای مدت کوتاه در کنار خودشان و هم صحبت شدن با شما عزیزان می باشد. به منظور انجام بازدید به صورت فردی و یا گروهی می توانید با موسسه تماس بگیرید تا با توجه به زمان استراحت و درمان معلولین نسبت به تعیین وقت برای شما اقدام شود
</p>
<br />






